APP_ENV=production
APP_PORT=8080
LOG_LEVEL=info
APP_BASE_URL=http://178.154.233.97:3000
FRONTEND_URL=http://178.154.233.97:3000

CORS_ORIGINS=http://178.154.233.97:3000

# База данных (для docker-compose)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# База данных (для бэкенда)
DATABASE_URL=postgres://santa:@postgres:5432/secretsanta?sslmode=disable

# JWT (минимум 32 символа)
JWT_SECRET=
JWT_TTL=24h

SMTP_HOST=smtp.mail.ru
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
FROM_EMAIL=

# Загрузка файлов
UPLOAD_DIR=/app/uploads

# Лимиты
MAX_REQUEST_BODY_SIZE=1048576
OTP_LENGTH=6
OTP_EXPIRY_MINUTES=10
RATE_LIMIT_OTP_PER_HOUR=5

# GitHub OAuth
OAUTH_PROVIDER=github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=http://178.154.233.97:3000/api/v1/auth/callback
