# Основные настройки
APP_ENV=local
APP_PORT=8080
LOG_LEVEL=info
APP_BASE_URL=http://localhost:8080

# База данных
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=secretsanta
DATABASE_URL=postgres://postgres:postgres@localhost:5432/secretsanta?sslmode=disable

# JWT 
JWT_SECRET=your-super-secret-key-min-32-chars
JWT_TTL=24h

# SMTP
SMTP_HOST=smtp.mail.ru
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
FROM_EMAIL=

# GitHub OAuth
OAUTH_PROVIDER=github
GITHUB_CLIENT_ID=your-client-id
GITHUB_CLIENT_SECRET=your-client-secret
GITHUB_REDIRECT_URL=http://localhost:8080/auth/callback